<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
</head>
<body>
    <h1>Hello, YelpCamp!</h1>
    <p>This is the best website for camps in the whole world! Welcome and check our new camps!</p>
</body>
</html>
