<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp/title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <main>
        <section>
            <h2>Details</h2>
            <h3><%= camp.title %></h3>
            <h4><%= camp.location %></h4>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Yelp Camp. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>


