<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
</head>
<body>

    <main>
        <section>
            <h2>Details</h2>
            <h3><%= camp.title %></h3>
            <h4><%= camp.location %></h4>
        </section>
    </main>

    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
</body>
</html>


